@media screen and (max-width: 599px)
{
    * {
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    /* menu burger */
    .checkbox {
        display: none;
      }
      
      .button {
        position: relative;
        background-color: white;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 5vh; 
        right: 5vw; 
        z-index: 2000;
        box-shadow: 0 1rem 2rem rgb(146, 142, 142);
        text-align: center; 
        cursor: pointer;
      }
      
      .background {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 5.5vh; 
        right: 5.5vw; 
        background-image: radial-gradient(rgb(68, 64, 68), black);
        z-index: 1000;
      
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      }
      
      .nav {
        height: 100vh;
        position: fixed;
        top: 2;
        right: -60vw;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s;
      }
      
      .list {
        position: absolute;
        top: 45%;
        left: 45%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
      }
      
      .item {
        margin: 1rem;
        font-size: 36px;
      }
      
      .link:link,
      .link:visited {
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          white 50%
        );
        background-size: 220%;
        transition: all 0.4s;
      }
      
      .link:hover,
      .link:active {
        color: rgb(105, 132, 105);
        cursor: pointer;
      }
      
      /* functionality */
      .checkbox:checked ~ .background {
        transform: scale(80);
      }
      .checkbox:checked ~ .nav {
        opacity: 1;
        width: 100%;
        right: 0;
      }
      
      /*  */
      /* styling hamb ICON */
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .icon,
      .icon::before,
      .icon::after {
        width: 3rem;
        height: 2px;
        background-color: gray;
        display: inline-block;
      }
      
      .icon::before,
      .icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }
      
      .icon::before {
        top: -0.8rem;
      }
      .icon::after {
        top: 0.8rem;
      }
      
      .button:hover icon:before {
        top: -1rem;
      }
      .button:hover icon::after {
        top: 1rem;
      }
      
      .checkbox:checked + .button .icon {
        background-color: transparent;
      }
      
      .checkbox:checked + .button .icon::before {
        top: 0;
        transform: rotate(135deg);
      }
      .checkbox:checked + .button .icon::after {
        top: 0;
        transform: rotate(-135deg);
      }

      .logoburger{
        width: 100%;
      }
    /* menu burger fin */  

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 170px;
    }

    .photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 70%;
        margin-bottom: 10px;
        height: 180px;
    }

    .logo {
        width: 150px;
        margin-bottom: 15px;
    }

    .barbeer {
      text-align: end;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 30px;
      text-shadow: rgb(82, 81, 81) 5px 5px 8px;
    }

    .trait {
        border: 0.5px grey solid;
        width: 85%;
        opacity: 0.3;
     }

     .trait1 {
        border: 0.5px grey solid;
        width: 85%;
        opacity: 0.3;
        margin-left: 15%;
        margin-bottom: 3%;
     }

    .presentation {
        margin: 5%;
        animation: fadein 7s;
    }

    @keyframes fadein {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }

    h1{
      font-family: 'Oooh Baby', cursive;
    }

    h2{
      font-family: 'Oooh Baby', cursive;
    }

    .bloc-image1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .photo1 {
        border-radius: 30px;
        margin: 4%;
        box-shadow: 3px 3px 10px grey;
    }

    .titre2 {
        text-align: center;
        text-decoration: underline;
        color: darkgoldenrod;
    }

    /* loader */

    .contener_ball{
      display: flex;
      justify-content: center;
      height:100%;
      width:100%;
      overflow:hidden;
      position: fixed;
      border: 1px red solid;
    } 
    
    .ball_bleu{
      border-radius:30px;
      width:30px;
      -webkit-animation:anim 1s infinite ease;
      -moz-animation:anim 1s infinite ease;
      -ms-animation:anim 1s infinite ease;
      -o-animation:anim 1s infinite ease;
      animation:anim 1s infinite ease;
    } 
    
    .ombre_bleu{
      border-radius:30px;
      display:inline-block;
      background-color:rgba(153,153,153,0.2);
      box-shadow:1px 1px 8px #999999;
      -webkit-animation:anim_ombre 1s infinite ease;
      -moz-animation:anim_ombre 1s infinite ease;
      -ms-animation:anim_ombre 1s infinite ease;
      -o-animation:anim_ombre 1s infinite ease;
      animation:anim_ombre 1s infinite ease;
    } 
    
    @-webkit-keyframes anim{
      0%
      {
        height:30px;
        margin-top:0px;
        background-color:#CB2025;
      }
      25%
      {
        height:15px;
        margin-top:100px;background-color:#F8B334;
      }
        100%
        {
          height:30px;
          margin-top:0px;
          background-color:#CB2025;
        }
      } 
      
      @-webkit-keyframes anim_ombre{
        0%
        {
          width:90px;
          height:2px;
        }
        25%
        {
          width:30px;
          height:2px;
        }
        100%
        {
          width:90px;
          height:2px;
        }
      }
      
      @-moz-keyframes anim{
        0%
        {
          height:30px;
          margin-top:0px;
          background-color:#CB2025;
        }
        25%
        {
          height:15px;
          margin-top:100px;
          background-color:#F8B334;
        }
        100%
        {
          height:30px;
          margin-top:0px;
          background-color:#CB2025;
        }
      } 
      
      @-moz-keyframes anim_ombre{
        0%
        {
          width:90px;
          height:2px;
        }
        25%
        {
          width:30px;
          height:2px;
        }
        100%
        {
          width:90px;
          height:2px;
        }
      } 
      
      @-ms-keyframes anim{
        0%
        {
          height:30px;
          margin-top:0px;
          background-color:#CB2025;
        }
        25%
        {
          height:15px;
          margin-top:100px;
          background-color:#F8B334;
        }
        100%
        {
          height:30px;
          margin-top:0px;
          background-color:#CB2025;
        }
      } 
      
      @-ms-keyframes anim_ombre{
        0%
        {
          width:90px;
          height:2px;
        }
        25%
        {
          width:30px;
          height:2px;
        }
        100%
        {
          width:90px;
          height:2px;
        }
      } 
      
      @keyframes anim{
        0%
        {
          height:30px;
          margin-top:0px;
          background-color:#CB2025;
        }
        25%
        {
          height:15px;
          margin-top:100px;
          background-color:#F8B334;
        }
        100%
        {
          height:30px;
          margin-top:0px;
          background-color:#CB2025;
        }
      } 
      
      @keyframes anim_ombre{
        0%
        {
          width:90px;
          height:2px;
        }
        25%
        {
          width:30px;
          height:2px;
        }
        100%
        {
          width:90px;
          height:2px;
        }
      }

    /* fin loader*/      

    /* footer */

    .footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 8px;
        background-color: rgb(243, 243, 243);
        border: 1px grey solid;
        box-shadow: 4px 4px 8px grey;
        
    }

    .adress {
        list-style-type: none;
        border: 1px rgb(241, 24, 24) solid;
        display: flex;
        flex-direction: column;
    }

    .name {
        font-family: 'Oooh Baby', cursive;
        border: 1px rgb(24, 241, 57) solid;
    }

    .contact {
        border: 1px black solid;
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .contact a{
      border: 1px rgb(59, 59, 59);
      padding: 2px;
      background-color: rgb(59, 59, 59);
      color: white;
      padding: 5px;
      border-radius: 8px;
      box-shadow: 5px 6px 13px rgb(59, 59, 59);
    }

    /* footer */
}


@media screen and (min-width: 600px) and (max-width: 1023px)
{
    *{
        background-color: aqua;
    }
}

@media screen and (min-width: 1024px)
{
    *{
        background-color: violet;
    }
}
